.hero {
  margin-top: 5rem;
  padding: 3rem;
}

.typewriter {
  color: #64ffda;
  font-size: 4rem;
  font-weight: bolder;
}

.hero-body {
  max-width: 45rem;
}

button {
  background-color: inherit;
  color: inherit;
  padding: 0.6rem;
  border-color: #64ffda;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .hero {
    margin-top: 5rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
  }

  .typewriter {
    color: #64ffda;
    font-size: 3rem;
    font-weight: bolder;
  }
}

@media screen and (max-width: 400px) {
  .hero {
    margin-top: 5rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
  }

  .typewriter {
    color: #64ffda;
    font-size: 2.3rem;
    font-weight: bolder;
  }
}
